<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="application to search for restaurants">
    <title>Laper Apps</title>
    <script src="https://kit.fontawesome.com/020c721d53.js" crossorigin="anonymous"></script>
	<link rel="manifest" href="manifest.json">
	<meta name="theme-color" content="#db0000"/>
	<link rel="apple-touch-icon" href="../public/favicon/apple-icon.png">
	<link rel="icon" type="image/x-icon" href="../public/favicon/favicon.png">
</head>
<body>
    <a href="#mainContent" class="skip-link">Menuju konten</a>
	<header>
		<app-bar></app-bar>
	</header>
	<!--* Jumbotron *-->
	<div class="hero" id="awal">
		<div class="heroinner">
			<h1 class="herotitle">Laper Apps</h1>
			<p class="herosubtitle">Cari Restaurant Favorite Mu</p>
			</div>
		</div>
    <!--* Content *-->
	<main tabindex="0" id="mainContent"></main>
    <!-- <main id="main">

    </main> -->
    <!--* Footer *-->
    <footer>
        <p><a href="#awal" class="back">Kembali ke Home <i class="fa-solid fa-up-long"></i></a></p>
        <p>Copyright &copy <span id="tahun"></span> - Laper Apps</p>
    </footer>
</body>
</html>
